<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Create Player</h3>
                    </div>
                    <div class="card-body">
                        <form v-on:submit="createPlayer()">
                            <p v-if="errors.length">
                                <b>Please correct the following error(s):</b>
                                <ul>
                                <li v-for="error in errors">{{ error }}</li>
                                </ul>
                            </p>
                            
                            <input type="hidden" name="_token" :value="csrf">
                            <div class="form-group">
                                <label for="">First Name</label>
                                <input v-model="player.first_name" type="text" name="first_name" id="first_name" class="form-control" placeholder="Add Player First Name">
                            </div>

                            <div class="form-group">
                                <label for="">Last Name</label>
                                <input v-model="player.last_name" type="text" name="last_name" id="last_name" class="form-control" placeholder="Add Player Last Name">
                            </div>

                             <div class="form-group">
                                <label for="">Team:</label>
                                <select v-model="player.team_id"  name="team_id" id="team_id" class="form-control">
                                    <option value="">Select Team ...</option>
                                    <option v-for="team in teams" :key="team.id"  :value="team.id">
                                        {{ team.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="float-right">
                                <button type="submit" class="btn btn-primary">Create Player</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import VueCsrf from 'vue-csrf'
import Vue from 'vue'

Vue.use(VueCsrf, {
    selector: 'meta[name="csrf_token"]', // selector of csrf element with csrf-token value
    attribute: 'content', //attribute of csrf-token element
});
export default {
    name:'createPlayers',
    data: function () {
        return {
            errors: [],
            teams: [],
            player: {
                first_name: '',
                last_name: '',
                team_id: 0
            },
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },
    mounted(){
       this.getTeamId();
    },
    methods: {
        getTeamId() {
            let app = this;
            axios.get('http://test-api.io/api/teams')
            .then(function(response){
                app.teams = response.data.data;
                console.log(response)
            })
            .catch(function(response){
                alert("Could not load players");
            })
        },
        createPlayer() {
             if (this.first_name && this.last_name && this.team_id) {
                    return true;
                }
                this.errors = [];

                if (!this.first_name) {
                    this.errors.push('First Name required.');
                }
                if (!this.team_id) {
                    this.errors.push('First Name required.');
                }
                if (!this.team_id) {
                    this.errors.push('Team is required.');
                }
            event.preventDefault();
            let app = this;
            axios.post('http://test-api.io/api/create-player' , this.player)
            .then(function(response){
                app.$router.push({path: '/players-home'});
                alert('Player added succesfully!')
                
            })
            .catch(function(response){
                alert("Can't add Player Check validations")
            })
        }
    }
}
</script>
