<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center"><h3>Edit Player</h3></div>
                            </div>
                            <div class="col-md-6">
                                    <div class="float-right">
                                        <router-link to="/players-home" class="btn btn-dark">Return</router-link>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                       <div class="card-body">
                        <form v-on:submit="editPlayer()">
                            <input type="hidden" name="_token" :value="csrf">
                            <div class="form-group">
                                <label for="">First Name</label>
                                <input v-model="player.first_name" type="text" name="first_name" id="first_name" class="form-control" placeholder="Add Player First Name" >
                            </div>

                            <div class="form-group">
                                <label for="">Last Name</label>
                                <input v-model="player.last_name" type="text" name="last_name" id="last_name" class="form-control" placeholder="Add Player Last Name">
                            </div>

                             <div class="form-group">
                                <label for="">Team:</label>
                                <select v-model="player.team_id"  name="team_id" id="team_id" class="form-control">
                                    <option value="">Select Team ...</option>
                                    <option v-for="team in teams" :key="team.id"  :value="team.id">
                                        {{ team.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="float-right">
                                <button type="submit" class="btn btn-primary">Edit Player</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import VueCsrf from 'vue-csrf'
import Vue from 'vue'

Vue.use(VueCsrf, {
    selector: 'meta[name="csrf_token"]', // selector of csrf element with csrf-token value
    attribute: 'content', //attribute of csrf-token element
});
export default {
    name:'editPlayers',
    data: function() {
        return {
            teams: [],
            playerId: null,
            player: {
                id: null,
                first_name: '',
                last_name: '',
                team_id: 0
            },
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },
    mounted(){
        this.getTeamId();
        this.getPlayer();
    },
    methods: {
        getTeamId() {
            let app = this;
            axios.get('http://test-api.io/api/teams')
            .then(function(response){
                app.teams = response.data.data;
            })
            .catch(function(response){
                alert("Could not load players");
            })
        },
        getPlayer(){
            let app = this;
            let id = app.$route.params.id;
            app.playerId = id;
            axios.get('http://test-api.io/api/players/' + id)
            .then(function(response){
                app.player = response.data.data;
                console.log(response);
                
            })
            .catch(function(response){
               
            })
        },
        editPlayer(){
            event.preventDefault();
            let app = this;
            app.player;
            axios.put('http://test-api.io/api/update-player/' + this.player, this.playerId)
            .then(function(response){
                 app.$router.replace('/players-home');
                 alert('Team Edited Success!')
            })
            .catch(function(response){
                alert("can't Edit Player");
            })
        }
    }
}
</script>
