<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
               <div class="card">
                   <div class="card-header">
                       <div class="row">
                           <div class="col-md-6">
                            <div class="text-center">
                                <h3>Players</h3>
                            </div>
                           </div>
                           <div class="col-md-6">
                               <div class="float-right">
                                   <router-link to="/players-create" class="btn btn-primary">Create Player</router-link>
                               </div>
                           </div>
                       </div>
                   </div>

                   <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th> 
                                        Team 
                                        </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="player in players" :key="player.id">
                                    <td>{{ player.id }}</td>
                                    <td>{{ player.first_name}}</td>
                                    <td>{{ player.last_name}} </td>
                                    <td>{{ player.team_id}}</td>
                                    <td>
                                         <router-link :to="{name: 'editPlayers', params: {id: player.id}}" class="btn btn-success"> <i class="fas fa-edit"></i></router-link>&nbsp;
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                   </div>
               </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    name:'homePlayers',
    data: function(){
        return{
            players: []
        }
    },
    mounted(){
        this.getPlayers()
    },
    methods: {
        getPlayers(){
            let app = this;
            axios.get('http://test-api.io/api/players')
            .then(function(response){
                app.players = response.data.data
                console.log(response)
            })
            .catch(function(response){
                console.log(response);
            })
        }
    }
}
</script>
