<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Create Team</h3>
                    </div>
                    <div class="card-body">
                        <form v-on:submit="createTeam()">
                            <p v-if="errors.length">
                                <b>Please correct the following error(s):</b>
                                <ul>
                                <li v-for="error in errors">{{ error }}</li>
                                </ul>
                            </p>
                            <input type="hidden" name="_token" :value="csrf">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input v-model="team.name" type="text" name="name" id="name" class="form-control" placeholder="Add Team Name">
                            </div>

                            <div class="float-right">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import VueCsrf from 'vue-csrf'
import Vue from 'vue'

Vue.use(VueCsrf, {
    selector: 'meta[name="csrf_token"]', // selector of csrf element with csrf-token value
    attribute: 'content', //attribute of csrf-token element
});

export default {
    name:'createPlayers',
    data: function()
    {
        return {
            errors: [],
            team: {
                name: ''
            },
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },
    methods: {
        createTeam(){
            if (this.name) {
                    return true;
                }
                this.errors = [];

                if (!this.name) {
                    this.errors.push('First Name required.');
                }
            event.preventDefault();
            let app = this;
            axios.post('http://test-api.io/api/create-team', this.team)
            .then(function(res){
                app.$router.push({path: '/teams-home'})
                alert('Team Added Success');
            })
            .catch(function(res){
                alert("Can't add Team Check validations!")
            })
        }
    }
}
</script>
