<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center"><h3>Edit Team</h3></div>
                            </div>
                            <div class="col-md-6">
                                    <div class="float-right">
                                        <router-link to="/teams-home" class="btn btn-dark">Return</router-link>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form v-on:submit="editTeam()">
                            <input type="hidden" name="_token" :value="csrf">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input v-model="team.name" type="text" name="name" id="name" class="form-control" placeholder="Add Team Name" >
                            </div>

                            <div class="float-right">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import VueCsrf from 'vue-csrf'
import Vue from 'vue'

Vue.use(VueCsrf, {
    selector: 'meta[name="csrf_token"]', // selector of csrf element with csrf-token value
    attribute: 'content', //attribute of csrf-token element
});

export default {
    name:'edit',
    data: function() {
        return {
            teamId: null,
            team: {
                name: ''
            },
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },
    mounted(){
        this.getTeam()

    },
    methods: {
        getTeam(){
            let app = this;
            let id = app.$route.params.id;
            app.teamId = id;
            axios.get('http://test-api.io/api/team/' + id)
            .then(function(response){
                app.team = response.data.data;
                console.log(response);
                
            })
            .catch(function(response){
               
            })
        },
        editTeam(){
            event.preventDefault();
            let app = this;
            let newTeam = app.team;
            axios.put('http://test-api.io/api/update-team/', this.teamId, this.team )
            .then(function(response){
                 app.$router.replace('/teams-home');
                 alert('Team Edited Success!')
            })
            .catch(function(response){
                alert("can't Edit Team");
            })
        }
    }

}
</script>
