<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow border-0">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <h3>Teams</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="float-right">
                                    <router-link to="/teams-create" class="btn btn-primary">Create Team</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="team in teams" :key="team.id">
                                    <td>{{ team.id}}</td>
                                    <td>{{ team.name}}</td>
                                    <td>{{ team.created_at }}</td>
                                    <td>{{ team.updated_at }}</td>
                                    <td>
                                        <router-link class="btn btn-xs btn-success" to="/teams-edit"><i class="fas fa-eye"></i> </router-link> &nbsp;
                                        <router-link :to="{name: 'edit', params: {id: team.id}}" class="btn btn-success"> <i class="fas fa-edit"></i></router-link>&nbsp;
                                        <a href="#" class="btn btn-xs btn-success" v-on:click="deleteTeam(team.id, index)"><i class="fas fa-trash"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
// imports
import axios from 'axios'

export default {
    name:'homePlayers',
    data: function() {
        return {
            teams:[],
        }
    },
    mounted(){
        this.getTeams();
    },
    methods: {
        getTeams(){
            let app = this;
            axios.get('http://test-api.io/api/teams')
            .then(function(response){
                app.teams = response.data.data;
            })
            .catch(function(response){
                console.log(response)
            })
        },
        deleteTeam(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    let app = this;
                    axios.delete('http://test-api.io/api/delete-team/' + id)
                        .then(function (resp) {
                            app.teams.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete Team");
                        });
                }
            }
    }

}
</script>
