<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-default">
        
        <router-link class="navbar-brand" to="/">Sports Teams</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <router-link class="nav-link" to="/login">Login <span class="sr-only">(current)</span> </router-link>
                
            </li>
            <li class="nav-item">
                <router-link to="/teams-home" class="nav-link">Teams</router-link>
            </li>
            <li class="nav-item">
                <router-link to="/players-home" class="nav-link">Players</router-link>
            </li>
            
            </ul>
         </div>
    </nav>
</template>

<script>
export default {
    name: 'navigation'
}
</script>
