<template>
  <div>
    <navigation></navigation>
  </div>
</template>

<script>
import navigation from './layout/navigation.vue';
export default {
  name: 'Main',
  components:{
    navigation
  }
}
</script>


