<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="card">
                    <div class="card-body">
                        <form v-on:submit="login()">

                                <div class="form-group">
                                    <input v-model="user.email" type="email" class="form-control" autofocus="true" required>
                                     
                                </div>

                                <div class="form-group">
                                    <label for="">Password</label>
                                    <input v-model="user.password" type="password" class="form-control" autofocus="true" required>
                                    
                                </div>

                                <button type="submit" class="btn btn-dark">Login</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
export default {
    name: 'Login',
    data: function() {
        return {
            user:{
                email: '',
                password: ''
            }
        }
    },
    methods: {
        login(){
            event.preventDefault();
            let app = this;
            axios.post('http://test-api.io/api/login', this.user)
            .then(function(response){
                app.$router.push({path: '/teams-home'});
                alert('Login Success')
            }).catch(function(response){
                console.log(response);
                alert("Can't login try again")
            })
        }
    }
}
</script>
